@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f1e5;
}

html {
  font-size: 80%;
  font-family: "Tinos", "serif";
}

.kaushan {
  font-family: "Kaushan Script", serif;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
